.item {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}
.avatar {
  display: block;
  height: auto;
  margin-top: 10px;
}
.name {
  margin: 5px auto;
  font-weight: 500;
}

.status {
  display: block;
  width: 10px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 50%;
}
.online {
  composes: status;
  background-color: rgb(57, 223, 154);
}
.offline {
  composes: status;
  background-color: rgba(238, 82, 82, 0.984);
}
